.Avada-FontManager__Wrapper {
  height: 200px;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
  outline: .1rem solid transparent;
  .Polaris-Card {
    height: 100%;
    width: 100%;
  }
}
